.box{
    width: 500px;
    height: 500px;
    background-color: rgb(162, 89, 89);
    border: 1px solid gray;
    position: relative;;
    margin-top: 300px;
    margin-left: 800px;
    transform: translate(-50%, -50%);
}
.box2 {
    width: 400px;
    height: 100px;
    background-color: rgb(253, 248, 248);
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 20px; 
  }
.routingnumber{
    width: 80%;
    padding: 10px;
    margin-top:220px;
    margin-left:40px;
}
.account-number{
    width: 80%;
    padding: 10px;
}
.account-name{
    width: 80%;
    padding: 10px;
}